.post-card {
    background-color: rgb(241, 241, 241);
    padding-bottom: 15px;
}
.comments-list {
    padding: 0 8px;
    margin-top: 20px;
}

@media only screen and (min-width: 640px) {
    .comments-list {
        padding: 0 15px;
    }
    .post-card {
        width: 70%;
    }
    .post-card {
        border-radius: 5px;
    }
}