html {
  font-size: 16px;
}
body {
  padding: 0;
  background-color: #d3d5d8;
  font-size: 1rem;
  max-width: 1200px;
  margin: 0 auto;
  color: rgb(27, 27, 27);
}
.App {
  text-align: left;
}
a {
  color: rgb(27, 27, 27);
  text-decoration: none;
}
